*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    
}

/*BOX-1*/
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/*Box-2*/
.Language-box{
    height: 35px;
    width: 100px;
    margin-left: 800px;
}
.Language-box{
    text-align: center;
    margin-top: 7px;
    font-size: 1rem;
    
}

/* Box-3*/
.login-page{
    height: 30px;
    width: 90px;
    text-align: center;
    margin-left: 50px;

}
.sign-in{
    text-align: center;
    font-size: 1.1rem;

}

/*Welcome-box*/
.Welcome-box{
    height: 150px;
    background-color: chocolate;
}

/*SF img*/
.sf-img{
    background-image: url("Navbar.jpeg");
    height: 500px;
    background-size: cover;
}

/*Welcome-box*/
.Welcome-box{
    font-size: 2rem;
    text-align: center;
}
  
  